In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('K://2020/Programming/Data Science/Методы сбора и обработки/Урок_8/0.csv')

In [10]:
#проверим пустые значения

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Nameagency  155 non-null    object
 1   Index       155 non-null    int64
 2   Year        155 non-null    int64
 3   Number      155 non-null    int64
 4   ValJan      124 non-null    float64
 5   ValFeb      112 non-null    float64
 6   ValMar      124 non-null    float64
 7   ValApr      132 non-null    float64
 8   ValMay      155 non-null    float64
 9   ValJun      150 non-null    float64
 10  ValJul      155 non-null    float64
 11  ValAug      155 non-null    float64
 12  ValSep      150 non-null    float64
 13  ValOct      155 non-null    float64
 14  ValNov      150 non-null    float64
 15  ValDec      155 non-null    float64
dtypes: float64(12), int64(3), object(1)
memory usage: 19.5+ KB

In [7]:
df.head()

,Nameagency,Index,Year,Number,ValJan,ValFeb,ValMar,ValApr,ValMay,ValJun,ValJul,ValAug,ValSep,ValOct,ValNov,ValDec
0,Росгидромет,70153,2014,1,70.6,61.6,54.7,83.7,697.0,75.2,74.4,55.5,61.0,53.5,53.4,44.6
1,Росгидромет,70153,2014,2,70.6,61.6,54.1,84.8,788.0,73.0,74.4,54.9,60.4,55.7,53.5,44.6
2,Росгидромет,70153,2014,3,69.9,61.6,54.1,85.3,832.0,72.0,73.5,54.9,59.9,57.0,53.6,44.6
3,Росгидромет,70153,2014,4,68.8,59.9,54.1,87.4,796.0,71.5,74.4,54.4,59.6,57.6,53.7,43.9
4,Росгидромет,70153,2014,5,68.8,59.9,54.1,88.4,663.0,71.0,73.0,53.5,59.4,59.2,53.8,43.9

In [16]:
# уберем столбец с названием ведомства, индексом и номером позиции

In [17]:
df_new = df.drop(columns=['Nameagency','Index','Number'])

In [18]:
df_new.head()

,Year,ValJan,ValFeb,ValMar,ValApr,ValMay,ValJun,ValJul,ValAug,ValSep,ValOct,ValNov,ValDec
0,2014,70.6,61.6,54.7,83.7,697.0,75.2,74.4,55.5,61.0,53.5,53.4,44.6
1,2014,70.6,61.6,54.1,84.8,788.0,73.0,74.4,54.9,60.4,55.7,53.5,44.6
2,2014,69.9,61.6,54.1,85.3,832.0,72.0,73.5,54.9,59.9,57.0,53.6,44.6
3,2014,68.8,59.9,54.1,87.4,796.0,71.5,74.4,54.4,59.6,57.6,53.7,43.9
4,2014,68.8,59.9,54.1,88.4,663.0,71.0,73.0,53.5,59.4,59.2,53.8,43.9

In [19]:
#исправим пустые значения, заменив их на медианные

In [22]:
condition = (df_new['ValJan'].isna())

In [24]:
df_new.loc[condition, 'ValJan'] = df_new['ValJan'].median()

In [25]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    155 non-null    int64
 1   ValJan  155 non-null    float64
 2   ValFeb  112 non-null    float64
 3   ValMar  124 non-null    float64
 4   ValApr  132 non-null    float64
 5   ValMay  155 non-null    float64
 6   ValJun  150 non-null    float64
 7   ValJul  155 non-null    float64
 8   ValAug  155 non-null    float64
 9   ValSep  150 non-null    float64
 10  ValOct  155 non-null    float64
 11  ValNov  150 non-null    float64
 12  ValDec  155 non-null    float64
dtypes: float64(12), int64(1)
memory usage: 15.9 KB

In [29]:
condition2 = (df_new['ValFeb'].isna())

In [30]:
df_new.loc[condition2, 'ValFeb'] = df_new['ValFeb'].median()

In [28]:
condition3 = (df_new['ValMar'].isna())

In [31]:
df_new.loc[condition3, 'ValMar'] = df_new['ValMar'].median()

In [33]:
condition4 = (df_new['ValApr'].isna())

In [34]:
df_new.loc[condition4, 'ValApr'] = df_new['ValApr'].median()

In [35]:
condition5 = (df_new['ValJun'].isna())

In [36]:
df_new.loc[condition5, 'ValJun'] = df_new['ValJun'].median()

In [37]:
condition6 = (df_new['ValSep'].isna())

In [38]:
df_new.loc[condition6, 'ValSep'] = df_new['ValSep'].median()

In [39]:
condition7 = (df_new['ValNov'].isna())

In [40]:
df_new.loc[condition7, 'ValNov'] = df_new['ValNov'].median()

In [41]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    155 non-null    int64
 1   ValJan  155 non-null    float64
 2   ValFeb  155 non-null    float64
 3   ValMar  155 non-null    float64
 4   ValApr  155 non-null    float64
 5   ValMay  155 non-null    float64
 6   ValJun  155 non-null    float64
 7   ValJul  155 non-null    float64
 8   ValAug  155 non-null    float64
 9   ValSep  155 non-null    float64
 10  ValOct  155 non-null    float64
 11  ValNov  155 non-null    float64
 12  ValDec  155 non-null    float64
dtypes: float64(12), int64(1)
memory usage: 15.9 KB